﻿
<H1>Ambiente de Trabalho do Tecnico de Financiamento </H1>

<p>
    @{ViewBag.GoBackToList = false;}
    @Html.ActionLink("Criar novo projecto","Create","Project")
</p>
<p>
    @Html.Partial("AnexosPartialView")
</p>
