﻿
<H1>Ambiente de Trabalho do Gestor de Financiamento </H1>

<p>
    @Html.Partial("AnexosPartialView")
</p>

<p>
    @{ViewBag.GoBackToList = false;}
    @Html.ActionLink("Nova candidatura","Create","Project")
</p>

<p>
    @{ViewBag.GoBackToList = true;}
    @Html.ActionLink("Listar candidaturas","Index","Project")
</p>

<p>
    @{
        ViewBag.SearchName = "Pesquisa Projectos";
        ViewBag.ControllerName = "Project";    
    }
    @Html.Partial("Search")
</p>