﻿@model SGPF.EntityDB.Projecto

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Projecto</legend>

    <div class="display-label">Nome</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nome)
    </div>

    <div class="display-label">Custo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Custo)
    </div>

    <div class="display-label">MontanteFinanciamento</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MontanteFinanciamento)
    </div>

    <div class="display-label">NIB</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NIB)
    </div>

    <div class="display-label">DataCriacao</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataCriacao)
    </div>

    <div class="display-label">DescricaoProjecto</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DescricaoProjecto)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
