﻿@model SGPF.EntityDB.Projecto

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Projecto</legend>

    <div class="display-label">Nome</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nome)
    </div>

    <div class="display-label">Custo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Custo)
    </div>

    <div class="display-label">MontanteFinanciamento</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MontanteFinanciamento)
    </div>

    <div class="display-label">NIB</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NIB)
    </div>

    <div class="display-label">DataCriacao</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataCriacao)
    </div>

    <div class="display-label">DescricaoProjecto</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DescricaoProjecto)
    </div>
</fieldset>
<p>
    @if (User.IsInRole("Tecnico") || User.IsInRole("Comissao"))
    {
        @Html.ActionLink("Editar", "Edit", new {id = Model.Id})
    }
    @Html.ActionLink("Voltar à lista", "Index")
</p>

<p>
    @Html.ActionLink("Adicionar anexo", "Create","Anexo")
</p>

<p>
    @Html.ActionLink("Ver anexos", "Index","Anexo")
</p>

<div>
    <p>
        @Html.Partial("SuspendResumeProject",Model)
    </p>
</div>
