﻿@model SGPF.EntityDB.Projecto

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Projecto</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Nome)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nome)
            @Html.ValidationMessageFor(model => model.Nome)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Custo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Custo)
            @Html.ValidationMessageFor(model => model.Custo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MontanteFinanciamento)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MontanteFinanciamento)
            @Html.ValidationMessageFor(model => model.MontanteFinanciamento)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NIB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NIB)
            @Html.ValidationMessageFor(model => model.NIB)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DataCriacao)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DataCriacao)
            @Html.ValidationMessageFor(model => model.DataCriacao)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DescricaoProjecto)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DescricaoProjecto)
            @Html.ValidationMessageFor(model => model.DescricaoProjecto)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
