﻿@model IEnumerable<SGPF.EntityDB.Projecto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@Html.Partial("AnexosPartialView")

@Html.Partial("Search")

<table>
    <tr>
        <th>
            Nome
        </th>
        <th>
            Custo
        </th>
        <th>
            MontanteFinanciamento
        </th>
        <th>
            NIB
        </th>
        <th>
            DataCriacao
        </th>
        <th>
            DescricaoProjecto
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Custo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MontanteFinanciamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NIB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataCriacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescricaoProjecto)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.Id })  |
            @if (
                User.IsInRole("Tecnico") || User.IsInRole("Comissao")
            )
            {
                @Html.ActionLink("Edit", "Edit", new {id = item.Id})
                 
                @Html.ActionLink("Delete", "Delete", new {id = item.Id})
            }
        </td>
    </tr>
}

</table>
