﻿@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>

Protótipo da aplicação

@if (Request.IsAuthenticated)
{

    if (Roles.IsUserInRole(User.Identity.Name, "GestorContactos"))
    {
        <div>
            @Html.ActionLink("Área da Comissão Financiamento","Index","CF")
        </div>
    }

    if (User.IsInRole("GestorContactos"))
    {
        <div>
            @Html.ActionLink("Área do Gestor de Contacto", "Index", "GC")
        </div>
    }

    if (User.IsInRole("GestorFinanciamento"))
    {
        <div>
            @Html.ActionLink("Área do Gestor de Financiamentos", "Index", "GF")
        </div>
    }

    if (User.IsInRole("Tecnico"))
    {
        <div>
            @Html.ActionLink("Área do Tecnico de Financiamento", "Index", "TF")
        </div>
    }
}


