﻿@if (ViewBag.ControllerName != null)
{
    String name = ViewBag.ControllerName;
    using (Html.BeginForm("Search", name))
    {
        <div>
            <fieldset>
                <legend>@ViewBag.SearchName</legend>
                <div class="editor-label">
                    @Html.Label("Descrição: ")
                </div>
                <div class="editor-field">
                    @Html.TextArea("description")
                </div>
                <p>
                    <input type="submit" value="Pesquisar" />
                </p>
            </fieldset>
        </div>
    }
}

