﻿@model SGPF.EntityDB.Projecto

@if(Model!=null)
{
    using (Html.BeginForm("Suspend", "Project", FormMethod.Post))
    {
        <div>
            <fieldset>
                @Html.Hidden("id",Model.Id)

                <legend>@ViewBag.SearchName</legend>
                <div class="editor-label">
                    @Html.Label("Suspenso?")
                </div>
                <div class="editor-field">
                    @Html.CheckBox("toggle",Model.Suspenso)
                </div>
                <p>
                    <input type="submit" value="Toggle" />
                </p>
            </fieldset>
        </div>
    }
}
