﻿@model SGPF.EntityDB.Despacho
   
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Parecer</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.InfoCustoElegivel)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.InfoCustoElegivel)
            @Html.ValidationMessageFor(model => model.InfoCustoElegivel)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Descricao)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Descricao)
            @Html.ValidationMessageFor(model => model.Descricao)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.LimiteFinanciamento)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LimiteFinanciamento)
            @Html.ValidationMessageFor(model => model.LimiteFinanciamento)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.MontanteFinanciamento)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MontanteFinanciamento)
            @Html.ValidationMessageFor(model => model.MontanteFinanciamento)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.PrazoExecucao)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PrazoExecucao)
            @Html.ValidationMessageFor(model => model.PrazoExecucao)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.ResultadoDaAvaliacao)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ResultadoDaAvaliacao)
            @Html.ValidationMessageFor(model => model.ResultadoDaAvaliacao)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
        
<div>
    @Html.ActionLink("Back to List", "Index")
</div>  
