﻿@model SGPF.EntityDB.Anexo

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Anexo</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Descricao)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}



