﻿@model SGPF.EntityDB.Parecer
   
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<fieldset>
    <legend>Anexo</legend>

    <div class="display-label">Nome</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Id)
    </div>

    <div class="display-label">Custo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Descricao)
    </div>

    <div class="display-label">Decisao</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Decisao)
    </div>

    <div class="display-label">Parecer Tecnico</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ParecerTecnico)
    </div>
</fieldset>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>  
