﻿@model SGPF.EntityDB.Despacho
   
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<fieldset>
    <legend>Anexo</legend>

    <div class="display-label">Nome</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Id)
    </div>

    <div class="display-label">Custo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Descricao)
    </div>

    <div class="display-label">Custo Elegivel</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InfoCustoElegivel)
    </div>

    <div class="display-label">Limite Financiamento</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LimiteFinanciamento)
    </div>

    <div class="display-label">Montante Financiamento</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MontanteFinanciamento)
    </div>

    <div class="display-label">Prazo Execucao</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PrazoExecucao)
    </div>

    <div class="display-label">Resultado da Avaliacao</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ResultadoDaAvaliacao)
    </div>
</fieldset>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>  
