﻿@model IEnumerable<SGPF.EntityDB.Anexo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table>
    <tr>
        <th>
            Id
        </th>
        <th>
            Descrição
        </th>
        <th>
            Tipo do anexo
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.Display( Model.GetType().Name )
        </td>
        <td>
            @Html.ActionLink("Details","Details",new { id=item.Id })
        </td>
    </tr>
}

</table>