﻿
<H1>Ambiente de Trabalho da Comissão de Financiamento </H1>

<p>
    @Html.Partial("AnexosPartialView")
</p>

<p>
    @Html.ActionLink("Criar despacho da comissão","ComissionDispatch")
</p>

<p>
    @Html.ActionLink("Informação dos relatórios de projectos","ReportProjectInfo")
</p>

<p>
    @Html.ActionLink("Relatório dos pagamentos dos projectos","ReportProjectPayment")
</p>